
.hello{
  width: 90vw;
  margin-left: 3.5vw;
  position:absolute ;
  margin-top: -100px;
  border-radius: 20px;
}
.image{
  height: 20px;
  width: 20px;
}
.black{
  height: 60vh;
  width: 98vw;
  position: relative;
  background-color: black;
  margin-top: 0px;
}
.table1{
  border-radius: 20px;
}
.color-line1{
  color : red;
}
.color-line2{
  color : green;
}
.parent {
  border: 1px solid black;
  padding: 2rem 2rem;
  text-align: left;
}
.child1 {
  display: inline-block;
  padding: 2rem 3rem;
  vertical-align: middle;
  height: 30vh;
  width: 50vw;
  color: white;
  margin-right: 30px;
}
.child2 {
  display: inline-block;
  vertical-align: middle;
  height: 30vh;
  width: 30vw;
  color: white;
  margin-left: -53px;
}
.graph{
  height: 400px;
  width: 727px;
  padding-left: 60px;
  padding-bottom: 60px;
}
h1 {
  font-size: 55px;
}
h6{
  color: greenyellow;
}